/* styles.css */
@font-face {
  font-family: "pencilpete_fontregular";
  src: url("..//fonts/pencilpetefont-844b-webfont.woff2") format("woff2"),
    url("..//fonts/pencilpetefont-844b-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  /* background-color: black; */
  background-color: lemonchiffon;
  background: rgb(123, 124, 126);
  box-sizing: border-box;
}

.teacher-tools {
  font-size: 4em;
  /* padding: top | right | bottom | left; */
  padding: 1px 1px 0px 1px;
  color: white;
  font-weight: bold;
  text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.5);
  margin: 1px;
  font-family: pencilpete_fontregular, "Times New Roman", Times, serif;
}

body {
  /* background: black; */
  padding: 5px;
  height: 100vh;
  margin: 0;
  font: 500 100% system-ui, sans-serif;
  border: 10px;
  font-size: 1em;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.container {
  height: calc(100vh - 10px);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 0.5fr 8fr 0.5fr;
  gap: 10px;
  border: 5px;
  padding: 10px;
}

header {
  padding: 5px 5px;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background: rgb(9, 73, 198);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  border-radius: 4px;
}

ul {
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: antiquewhite;
  font-size: 1.5em;
}

li a:hover {
  /* text-decoration: underline; */
  font-weight: bold;
  color: rgb(211, 185, 74);
}

.nav-bar {
  width: 100%;
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navigation-items li,
.footer-items li {
  /* padding: top | right | bottom | left; */
  padding: 0px 30px 0px 30px;
}

.list-item,
.header-list-item,
.footer-list-item {
  display: inline;
  list-style-type: none;
}

.room-info li {
  display: inline;
  /* padding: top | right | bottom | left; */
  padding: 0em 2em 0em 2em;
}

.students-and-assignments {
  display: flex;
  width: 50%;
}

.students {
  border: 5px solid black;
}

.assignments {
  border: 5px solid black;
}

.assignments,
.students {
  padding: 30px;
  width: 50%;
}

.assignments h3,
.students h3 {
  text-align: center;
}

.assignments li,
.students li {
  align-items: center;
  padding-left: 0px;
  list-style: none;
}

.left-sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background: rgb(218, 35, 104);
  border-radius: 4px;
}

.about-left-sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-image: url(..//images/stack-of-books.jpg);
  background-size: 100%;
  background-position: left;
  border-radius: 4px;
}

.main-content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background: rgb(242, 103, 34);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 4px;
}

.about-main-content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: lemonchiffon;
  background: rgb(123, 124, 126);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 4px;
  /* background-image: url(https://cdn.pixabay.com/photo/2016/01/22/05/45/texture-1155341__340.jpg); */
  /* background-size: 100%; */
}

.classroom-list,
#usrform,
.page-title,
.student-list,
.room-info,
.student-info,
.teacher-notes,
.assignment-info {
  font-size: 1.25em;
  /* padding: top | right | bottom | left; */
  padding: 20px 20px 20px 20px;
  border-radius: 4px;
  border: 5px solid black;
  box-shadow: 15px 15px 3px rgba(0, 0, 0, 0.2);
}

.room-info li {
  /* padding: top | right | bottom | left; */
  padding: 20px 20px 20px 20px;
  font-size: 0.8em;
  font-weight: normal;
}

.assignment-info {
  margin: 10px;
  overflow-wrap: break-word;
  hyphens: manual;
  font-size: 1em;
  font-weight: normal;
}

.page-title {
  font-size: 2em;
  padding: 20px 20px 20px 20px;
  width: 450px;
  text-align: center;
}

.about-page-title {
  /* background-image: url(https://cdn.pixabay.com/photo/2016/04/19/01/02/green-1337813_960_720.jpg); */
  background: rgb(196, 235, 253);
  border: 2px solid black;
  box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.3);
  color: rgb(9, 73, 198);
  font-family: pencilpete_fontregular, Arial, Helvetica, sans-serif;
  font-size: 3.5em;
  font-weight: bold;
  margin-block-end: 20px;
  margin-block-start: 20px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  /* padding: top | right | bottom | left; */
  padding: 20px 20px 20px 20px;
  text-align: center;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
}

.right-sidebar {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background: rgb(218, 35, 104);
  border-radius: 4px;
}

.about-right-sidebar {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-image: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX8426859.jpg);
  background-size: 300px;

  border-radius: 4px;
}

footer {
  padding: 10px 20px;
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  background: rgb(66, 159, 216);
  text-align: center;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.footer-spacer,
.header-spacer {
  width: 225px;
}

.about-container {
  height: calc(100vh - 10px);
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 0.5fr 8fr 0.5fr;
  gap: 10px;
  border: 5px;
  padding: 10px;
}

.about-profile-box {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 6px;
  margin: 15px;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.4);
  /* background-image: url(https://cdn.pixabay.com/photo/2016/04/19/01/02/green-1337813_960_720.jpg); */
  background: lemonchiffon;
}

.about-headshot-text-links {
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  font-size: 1em;
  font-weight: bold;
  justify-content: space-between;
  margin-top: 0px;
  margin: 5px;
}

.about-headshot.box {
  align-items: center;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
  margin: 10px;
}

.about-headshot {
  border-radius: 2%;
  border: 1px solid black;
  box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.4);
  margin-top: 10px;
  margin-left: 10px;
}

.about-profile-name {
  display: block;
  margin: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  /* padding: top | right | bottom | left; */
  padding: 5px 0px 2px 0px;
  border-bottom: 2px solid rgb(9, 73, 198);
  font-size: 2em;
  /* font-weight: bold;  */
  color: white;
  color: rgb(9, 73, 198);
  /* text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3); */
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  font-family: pencilpete_fontregular, "Times New Roman", Times, serif;
}

.about-text-and-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 0px;
}

.about-profile-text {
  align-items: center; /* align vertical */
  border-radius: 4px;
  border: 1px solid black;
  box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.4);
  display: flex;
  font-size: 1.1em;
  font-weight: normal;
  justify-content: center; /* align horizontal */
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  color: white;
  background-image: url(https://images.template.net/wp-content/uploads/2016/02/03065942/Free-chalkboard-green.jpg);
}

.about-profile-text p {
  margin: 0px;
}

.about-links-box {
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  font-size: 0.75em;
  font-weight: normal;
  min-width: 150px;
}

.about-links-logos {
  align-items: center;
  display: flex;
  /* filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5)); */
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0px;
  padding: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.about-links-logos p {
  margin: 0px;
  color: antiquewhite;
  color: rgb(9, 73, 198);
}

.about-links-box a {
  padding: 10px;
}
