<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <title>Teacher Tools - Your Classroom</title>
</head>

<body>
  <header th:insert="general.html :: header" id="header"></header>
  <div class="container">
    <div class="left-sidebar"></div>
    <main class="main-content">
      <p class="page-title" th:text="${individualClassroom.subject}"></p>
      <section class="classroom-main-box">
        <h2><a th:each="rollCall:${individualClassroom}" th:href="@{/classroom/roll-call(id=${rollCall.id})}">Take Roll
            Call</a></h2>
        <section class="single-classroom-page-student-list-box">
          <p class="single-classroom-page-section-title">Student List:</p>
          <ul class=single-classroom-page-single-student-list th:each="student:${individualClassroom.students}">
            <li><a class="single-classroom-page-single-student-items" th:href="@{/student(id=${student.id})}" th:text="${student.getName()}"></a>
            </li>
          </ul>
        </section>
        <section class="single-classroom-page-student-list-box">
          <p class="single-classroom-page-section-title">Assignments:</p>
          <ul th:each="assignment:${individualClassroom.assignments}">
            <li><a class="single-assignment" th:href="@{/assignment(id=${assignment.id})}"
                th:text="${assignment.name}"></a></li>
          </ul>
        </section>
        <section class="single-classroom-page-student-list-box">
          <p class="single-classroom-page-section-title">Add New Assignment:</p>
          <form action="/classroom/newAssignment" method="POST">
            <input type="hidden" name="classroomId" th:value="${individualClassroom.id}">
            <label for="name">Assignment Name: </label>
            <input type="text" id="name" name="name" required>
            <label for="description">Description: </label>
            <input type="text" id="description" name="description" required><br><br>
            <label for="assignedDate">Date of Assignment: </label>
            <input type="date" id="assignedDate" name="assignedDate" required>
            <label for="dueDate">Assignment Due Date: </label>
            <input type="date" id="dueDate" name="dueDate" required><br><br>
            <label for="pointsValue">Points Value: </label><br>
            <input type="number" id="pointsValue" name="pointsValue" min="1" step="1" required>
            <input type="submit" value="Submit Assignment">

          </form>
        </section>
        <section class="single-classroom-page-student-list-box">
          <p class="single-classroom-page-section-title">Add Student To This Class:</p>
          <form th:action="'/classroom/addStudent/?id='+${individualClassroom.id}" method="POST">
            <label for="student">Available Students: </label><select id="student" name="student">
              <option th:each="student:${allStudents}" th:value="${student.id}" name="student"
                th:text="${student.name}">
              </option>
            </select>
            <input type="submit" value="Add Student">
          </form>
        </section>
        <form th:action="'/classroom/deleteClassroom/'+${individualClassroom.id}" method="POST">
         <button type="submit" class="button">Delete Classroom</button>  
          </select>
        </form>


      </section>
    </main>
    <div class="right-sidebar"></div>

  </div>
  <footer th:insert="general.html :: footer"></footer>

</body>

</html>