<!doctype html>
<html lang="en"xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Teacher Tools - Your Classroom</title>
</head>
<body>
<header th:insert="general.html :: header" id="header"></header>
<div class="container">
  <main class="main-content">
     <h1 th:text="${individualClassroom.subject}"></h1>
     <h2><a th:each="rollCall:${individualClassroom}" th:href="@{/classroom/roll-call(id=${rollCall.id})}">Take Roll Call</a></h2>
      <h3>Student List: </h3>
        <ul th:each="student:${individualClassroom.students}">
          <li><a class="single-student" th:href="@{/student(id=${student.id})}" th:text="${student.getName()}"></a></li>
        </ul>
    <h3>Assignments:</h3>
    <ul th:each="assignment:${individualClassroom.assignments}">
      <li><a class="single-assignment" th:href="@{/assignment(id=${assignment.id})}" th:text="${assignment.name}"></a></li>
    </ul>
  </main>
</div>
<footer th:insert="general.html :: footer"></footer>

</body>
</html>