<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <title>Teacher Tools - Your Classroom</title>
</head>

<body>
<header th:insert="general.html :: header" id="header"></header>
<div class="container">
  <div class="left-sidebar"></div>
  <main class="main-content">
    <p class="page-title" th:text="${individualClassroom.subject}"></p>
     <hr>
     <h2><a th:each="rollCall:${individualClassroom}" th:href="@{/classroom/roll-call(id=${rollCall.id})}">Take Roll Call</a></h2>
     <hr>
     <h3>Student List: </h3>
        <ul th:each="student:${individualClassroom.students}">
          <li><a class="single-student" th:href="@{/student(id=${student.id})}" th:text="${student.getName()}"></a></li>
        </ul>
        <hr>
    <h3>Assignments:</h3>
    <ul th:each="assignment:${individualClassroom.assignments}">
      <li><a class="single-assignment" th:href="@{/assignment(id=${assignment.id})}" th:text="${assignment.name}"></a></li>
    </ul>
<hr>
    <h3>Add New Assignment:</h3>
    <form action="/classroom/newAssignment" method="POST">
      <input type="hidden" name="classroomId" th:value="${individualClassroom.id}">
      <label for="name">Assignment Name: </label>
      <input type="text" id="name" name="name">
      <label for="description">Description: </label>
      <input type="text" id="description" name="description"><br><br>
      <label for="assignedDate">Date of Assignment: </label>
      <input type="text" id="assignedDate" name="assignedDate">
      <label for="dueDate">Assignment Due Date: </label>
      <input type="text" id="dueDate" name="dueDate"><br><br>
      <label for="pointsValue">Points Value: </label><br>
      <input type="text" id="pointsValue" name="pointsValue">
      <input type="submit" value="Submit">
    </form> 
    <br>
    <hr>
    <h3>Add Student To This Class:</h3>
    <form th:action="'/classroom/addStudent/?id='+${individualClassroom.id}" method= "POST">
    <label for="student">Available Students: </label><select id="student" name="student">
      <option th:each="student:${allStudents}" th:value="${student.id}" name="student"
              th:text="${student.name}"></option>
  </select>
      <input type="submit" value="Add Student">
    </form>

      <h3>Add New Assignment:</h3>
      <form action="/classroom/newAssignment" method="POST">
        <input type="hidden" name="classroomId" th:value="${individualClassroom.id}">
        <label for="name">Assignment Name: </label>
        <input type="text" id="name" name="name">
        <label for="description">Description: </label>
        <input type="text" id="description" name="description"><br><br>
        <label for="assignedDate">Date of Assignment: </label>
        <input type="text" id="assignedDate" name="assignedDate">
        <label for="dueDate">Assignment Due Date: </label>
        <input type="text" id="dueDate" name="dueDate"><br><br>
        <label for="pointsValue">Points Value: </label><br>
        <input type="text" id="pointsValue" name="pointsValue">
        <input type="submit" value="Submit Assignment">
      </form>
      <br>

      <h3>Add Student To This Class:</h3>
      <form th:action="'/classroom/addStudent/?id='+${individualClassroom.id}" method="POST">
        <label for="student">Available Students: </label><select id="student" name="student">
          <option th:each="student:${allStudents}" th:value="${student.id}" name="student" th:text="${student.name}">
          </option>
        </select>
        <input type="submit" value="Add Student">
      </form>

    </main>
    <div class="right-sidebar"></div>

  </div>
  <footer th:insert="general.html :: footer"></footer>

</body>

</html>