<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teacher Tools - Roll Call</title>
    <link rel="stylesheet" href="/css/rollCall.css">
  </head>
  <body>
    <header th:insert="general.html :: header" id="header"></header>
    <div class="container">
      <main class="main-content">
        <h1>Take Roll Call (Click Student To Remove From List)</h1>
        <h2>Student List:</h2>
        <ul id="student-list">
          <li th:each="student:${individualStudents}"class="roll-student" id="roll-student" th:text="${student.name}">
          </li>
        </ul>
      </main>
    </div>
    <footer th:insert="general.html :: footer"></footer>
    <script src="/js/rollCall.js"> 
    </script>
  </body>
</html>
