<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <title>Teacher Tools - Your Assignment</title>
</head>

<body>
  <header th:insert="general.html :: header" id="header"></header>
  <div class="container">
    <div class="left-sidebar"></div>
    <main class="main-content">

      <p class="page-title">Assignment Information</p>

      <section class="single-assignment-page-main-box">





        <p class="single-assignment-page-list-title">Assignment Name:</p>
        <p class="single-assignment-page-list-title-normal" th:text="${individualAssignment.name}"></p>

        <section class="single-assignment-page-list-box">



          <h3 th:text="'Class: '+${individualAssignment.classroom.subject}"></h3>
          <ul class="assignment-details">
            <h4>Assignment Details:</h4>
            <li th:text="${individualAssignment.description}"></li>
            <h4>Assignment Date:</h4>
            <li th:text="${individualAssignment.assignedDate}"></li>
            <h4>Due Date:</h4>
            <li th:text="${individualAssignment.dueDate}"></li>
            <h4>Total Points:</h4>
            <li th:text="${individualAssignment.pointsValue}"></li>
            <h4>Students Assigned:</h4>
            <li th:each="student: ${individualAssignment.students}">
              <a th:href="@{/student(id=${student.id})}" th:text="${student.name}"></a>
            </li>
          </ul>
          <h4
            th:text="${'The Average Grade For This Assignment Is: ' + individualAssignment.calculateAssignmentAverageGrade()}">
          </h4>

        </section>
        <p class="single-assignment-page-list-title-normal">Add New Grade:</p>

        <section class="single-assignment-page-list-box-add-a-new-grade">

          <form th:action="'/assignment/' + ${individualAssignment.id}" id="assignment-grade" method="POST">

            <div>
              <label for="student">Student: </label><select id="student" name="student">
                <option th:each="student:${individualAssignment.students}" th:value="${student.id}" name="student"
                  th:text="${student.name}"></option>
              </select>
            </div>

            <div>
              <label for="grade">Grade: </label><input id="grade" type="number" name="grade" min="0" step="1"
                required />
            </div>

            <div>
              <label for="maximumGrade">Maximum Grade: </label><input id="maximumGrade"
                th:value="${individualAssignment.pointsValue}" type="number" name="maximumGrade" min="1" step="1"
                required />
            </div>


            <input type="submit" value="Add Grade" />

          </form>
        </section>
      </section>
    </main>
    <div class="right-sidebar"></div>

  </div>
  <footer th:insert="general.html :: footer"></footer>
</body>

</html>