<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teacher Tools - Your Student</title>
</head>
<body>
<header th:insert="general.html :: header" id="header"></header>
<div class="container">
    <main class="main-content">
        <div class="student-information">
            <h1>Student Information:</h1>
            <h2 th:text="${individualStudent.name}"></h2>
            <img th:src="${individualStudent.studentImage}" th:alt="${'Photo of ' + individualStudent.name}">
            <ul class="student-details">
                <h4>Guardian Information:</h4>
                <li th:text="${individualStudent.guardianName}"></li>
                <li th:text="${individualStudent.guardianPhone}"></li>
                <li th:text="${individualStudent.guardianEmail}"></li>
                <h4>Student's Birthday:</h4>
                <li th:text="${individualStudent.birthdayMonth + '/' + individualStudent.birthdayDay + '/' + individualStudent.birthdayYear}"></li>
                <h4>Student's Classes:</h4>
                <li th:each="classroom: ${individualStudent.classrooms}"><a th:href="@{/classroom(id=${classroom.id})}" th:text="${classroom.subject}"></a></li>
            </ul>
        </div>
        <div class="student-grades">
            <h4>Student Grades:</h4>
            <ul class="grade-list" th:each="grade:${individualStudent.grades}">
                <li th:text="${'Assignment Name: ' + grade.assignment.name}"></li>
                <li th:text="${'Grade: ' + grade.grade + '/' + grade.maximumGrade}"></li>
            </ul>
            <h4 class="total-grade" th:text="${'Overall Grade Average: ' + individualStudent.calculateTotalGrade() + '%'}"></h4>
        </div>
        <div class="student-notes">
            <ul class="note-list" th:each="note:${individualStudent.notes}">
                <li th:text="${'Note Title: ' + note.title}"></li>
                <li th:text="${'Note Date: ' + note.noteDate}"></li>
                <li th:text="${'Note: ' + note.note}"></li>
            </ul>
        </div>
        <div class="student-note-form">
            <h2>Leave a Note for this Student: </h2>
            <form th:action="'/student'+${id}" id="student-note" method="POST">
            Title: <input type="text" name="title">
            Date: <input type="text" name="date">
            <input type="submit">
            </form>
                <textarea rows="4" cols="50" name="noteToAdd" form="usrform">
                </textarea>
                
        </div>
    </main>
</div>
<footer th:insert="general.html :: footer"></footer>
<script src="/js/addNoteForm.js" type="module"></script>
</body>
</html>